.details__nav, 
.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list {
  display: flex;
  flex-flow: nowrap row;
  width: 100%;
  margin: 2% auto;
}

.list__item {
  &:not(:last-child) {
    align-self: flex-start;
    &:after {
      content: '>>';
    }
  }
  &:last-child {
    display: flex;
    flex-grow: 0.5;
    justify-content: center;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.item__link {
  text-decoration: none;
  color: wheat;
}
