.filters {
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  max-width: 30%;
}

.category,
.brand {
  border: 0.5px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #19bf55;
  max-height: 200px;
  overflow-y: auto;
  
}

.category__heading,
.brand__heading {
  text-align: center;
  margin: 0;
}

.category-list__item,
.brand-list__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  > label {
    flex-grow: 1;
  }
}